[submodule "CA7"]
	path = CA7
	url = https://github.com/DabiriAghdam/AP_CA7
[submodule "CA5"]
	path = CA5
	url = https://github.com/DabiriAghdam/AP_CA5
[submodule "AP_CA5"]
	path = AP_CA5
	url = https://github.com/DabiriAghdam/AP_CA5
